body {
    background-color: #CA0025;
}

.form-container {
    background-color: #CA0025;
    width: 1200px;
    height: 1000px;
    display: flex;
}

.form-container1 {
    background-color: #00ca36;
    width: 900px;
    height: 800px;

}

.form-container2 {
    background-color: #ece4e5;
    width: 900px;
    height: 800px;

}

form input {
    width: 20%;

}